@import "app/variables";
@import "app/card-list";
@import "app/progress-bar";
@import "app/flash-card";
@import "app/splash";
@import "app/canvas";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css);

html {
  font-family: Montserrat, Avenir, sans-serif;
}

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#local-media, .remote-webcam {
  margin-top: 20px;
}

video {
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

.message-card {
  height: 60%;
}

.message {
  .profilepic {
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}

li {
  .profilepic {
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      float: left;
    }
  }
}


div.message > div.text-wrapper {
	border-radius: 2px;
	font-weight: 300;
	position: relative;
	
    
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }
 }

.message {
  .profilepic {
    width: 50px;
  }	
} 


.row {
  .inputfield {
    margin-top: 20px; 
  }	
}

.row {
  .card {
    padding: 0 0;
  }
}

.card {
  .card-content {
    padding: 20px 0 20px 0;
  }
}

div.row {
  div.message {
    div.card-panel {
	  margin-left: 10px;
	  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.02),0 2px 10px 0 rgba(0,0,0,0.02);
	  color: white;
    }
  }
}





